.blog {
    background: $backgroundColor;

    .blogFlex {
        display: flex;
        flex-direction: row-reverse;

        .asideWrapper {
            background: white;
            width: 90%;
            margin-right: 10%;
            margin-top: 20%;
            padding: 5%;
            position: relative;

            .asideArticle {
                padding-top: 380px;
                margin-right: 50px;
                
                h3 {
                    font-family: $primaryFont;
                    font-size: 3rem;
                    color: $textColor;
                    padding-top: 5%;
                }

                p {
                    line-height: 35px;
                }

                ul {
                    margin-left: 5.5%;

                    li {
                        list-style: unset;
                        line-height: 35px;
                        font-size: 2rem;
                    }
                }
            }
            
            .asidePhoto {
                position: absolute;
                width: 500px;
                top: -3%;
                right: 5%;

            }
        }
        

        .blogMain {
            flex-basis: 150%;

            .commentSection {

                h2 {
                    font-size: 4.2rem;
                    font-family: $primaryFont;
                    text-transform: uppercase;
                    color: $textColor;
                    padding-top: 8%;
                }

                blockquote {
                    display: flex;
                    margin: 0;
                    padding: 5%;

                    h4 {
                        color: black;
                        font-size: 2rem;
                        padding: 0;
                        margin: 0;
                        padding-left: 5%;
                        
                    }

                    p {
                        padding: 4%;
                        padding-left: 5%;
                    }
                    
                    .personPhoto {
                        width: 40%;
                    }
                }
            }

            .comment {
                    background: white;

                .commentArticle {
                    width: 90%;
                    padding-left: 5%;

                    h2 {
                        font-family: $primaryFont;
                        text-transform: uppercase;
                        color: $textColor;
                        font-size: 5.2rem;
                    }

                    p:first-of-type {
                        margin: 0;
                        padding: 0;
                        font-weight: bold;
                    }
                }

                .commentPhoto {
                    position: relative;
                    width: 105%;
                    right: -10.5%;
                    top: -160px;
                    box-shadow: -80px 80px $borderColor;
                }
            }

            form {
                display: flex;
                flex-direction: column;
                padding: 5%;

                input {
                    background: $backgroundColor;
                    border: $backgroundColor;
                    border-bottom: 2px solid $borderColor;
                    width: 45%;
                    margin: 2%;
                    margin-left: 2%;
                    font-size: 2rem;
                }

                textarea {
                    background: $backgroundColor;
                    border: 2px solid $borderColor;
                    margin: 2%;
                    font-size: 2rem;
                }

                button {
                    margin: 2%;
                    background: $textColor;
                    color: white;
                    border: $textColor;
                    font-size: 2rem;
                    padding: 2%;
                }
            }
        }
    }
}