.blog {
    background: $backgroundColor;

    .blogFlex {
        display: flex;
        flex-direction: row-reverse;

        .asideWrapper {
            background: white;
            width: 90%;
            margin-right: 10%;
            margin-top: 20%;
            padding: 5%;
            position: relative;

            .asideArticle {
                padding-top: 380px;
                margin-right: 50px;
                
                h3 {
                    font-family: $primaryFont;
                    font-size: 3rem;
                    color: $textColor;
                    padding-top: 5%;
                }

                p {
                    line-height: 35px;
                }

                ul {
                    margin-left: 5.5%;

                    li {
                        list-style: unset;
                        line-height: 35px;
                        font-size: 2rem;
                    }
                }
            }
            
            .asidePhoto {
                position: absolute;
                width: 500px;
                top: -3%;
                right: 5%;

            }
        }
        

        .blogMain {
            flex-basis: 150%;

            .commentSection {

                blockquote {
                    display: flex;
                    
                }
            }

            .comment {
                    background: white;

                .commentArticle {
                    width: 90%;
                    padding-left: 5%;

                    h2 {
                        font-family: $primaryFont;
                        text-transform: uppercase;
                        color: $textColor;
                        font-size: 5.2rem;
                    }

                    p:first-of-type {
                        margin: 0;
                        padding: 0;
                        font-weight: bold;
                    }
                }

                .commentPhoto {
                    position: relative;
                    width: 105%;
                    right: -10.5%;
                    top: -160px;
                    box-shadow: -80px 80px $borderColor;
                }
            }
        }
    }
}