footer {
    background: $accentColor;
    text-align: center;

    h4 {
        font-family: $secondaryFont;
        color: white;
        font-size: 2rem;
        margin: 0;
        padding: 1%;
    }
}