html {
    font-size: 62.5%;
    transition: 0.4s;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

p {
    color: black;
    font-size: 2rem;
    padding: 5% 0;
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}

.button {
    background: $textColor;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    border: 3px solid red;
}

.visually-hidden { 
    position: absolute !important; 
    height: 1px; width: 1px; 
    overflow: hidden; clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px); 
    white-space: nowrap;
}