// NEW/OPTION MEDIA QUERRY
@media (max-width: 800px) {
    .new {
        flex-direction: column;

        .newPhoto {
            box-shadow: 0 0 $borderColor;
            padding: 10%;
        }

        .newArticle {
            text-align: center;
            padding: 5%;
        }
    }

    .option {
        flex-direction: column-reverse;

        .optionPhoto {
            box-shadow: 0 0 $borderColor;
            padding: 10%;
        }

        .optionArticle {
            text-align: center;
            padding: 5%;
        }
    }
}

// ABOUT MEDIA QUERRY
@media (max-width: 600px) {
    .aboutArticle {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

// POPULAR MEDIA QUERRY
.popular {
    @media (max-width: 900px) {
        .popularMaster {
            
            .popularPhoto {
                margin-bottom: 0;
                box-shadow: 0 0 $borderColor;
            }
        }
    }

    @media (max-width: 700px) {
        .popularMaster {
            flex-direction: column;
            text-align: center;

            .popularArticle {
                padding-left: 0;

                a {
                    padding: 6px 8px;
                }
            }

            .popularPhoto {
                padding: 15%;
            }
        }
    }

    @media (max-width: 600px) {
        .popularBleed {

            .popularGallery {
                flex-direction: column;

                figure {
                    padding: 5%;
                }

                figure:nth-of-type(2) {
                    padding: 5%;
                }

                figure:hover {
                    transform: none;
                }    
            }
        }
    }

    @media (max-width: 500px) {
        .popularMaster {

            .popularPhoto {
                padding: 10%;
            }
        }
    }
}