// UNDER THE SEA
.sea {
    text-align: center;
    padding-top: 15%;
    padding-bottom: 12%;

    h2 {
        font-family: $primaryFont;
        font-size: 5.2rem;
        text-transform: uppercase;
        color: $textColor;
    }

    p {
        width: 90%;
        margin: 0 auto;
        padding: 5%;
    }
        
    a {
        font-size: 2rem;
        background: $textColor;
        padding: 1% 2%;
        text-transform: uppercase;
        border: 2px solid $textColor;
        color: white;
        transition: 0.3s;
    }

    a:hover, a:focus {
        color: black;
        border: 2px solid black;
    }
}

// NEW OPTIONS
.bgColor {
    background: white;
}

.new {
    display: flex;
    justify-content: center;
    align-items: center;

    .newArticle {
        width: 50%;
        padding: 4%;   
    }

    .newPhoto {
        position: relative;
        left: -9.5%;
        top: -61px;
        box-shadow: 60px 55px $borderColor;
    }

    h2 {
        font-size: 4.2rem;
        font-family: $primaryFont;
        text-transform: uppercase;
    }

    a {
        font-size: 2rem;
        background: $accentColor;
        padding: 1% 2%;
        text-transform: uppercase;
        border: 2px solid $accentColor;
        color: white;
        transition: 0.3s;
    }

    a:hover, a:focus {
        color: black;
        border: 2px solid black;
    }
}

.option {
    display: flex;
    align-items: center;

    .optionArticle {
        width: 50%;
        padding: 4%;   
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 1;
    }

    .optionPhoto {
        position: relative;
        right: -112px;
        box-shadow: -60px 55px $borderColor;
    }

    h2 {
        font-size: 4.2rem;
        font-family: $primaryFont;
        text-transform: uppercase;
        text-align: right;
    }

    p {
        text-align: right;
    }

    a {
        font-size: 2rem;
        background: $accentColor;
        padding: 1% 2%;
        text-transform: uppercase;
        border: 2px solid $accentColor;
        color: white;
        transition: 0.3s;
    }

    a:hover, a:focus {
        border: 2px solid black;
        color: black;
    }
}

// ABOUT
.about {
    background: $backgroundColor;
    padding-top: 10%;

    .aboutArticle {
        display: flex;
        flex-wrap: wrap;
        
        
        .locationIcon, .comunityIcon, .blogIcon, .contactIcon {
            display: flex;

            i {
                font-size: 5.2rem;
                color: $textColor;
                width: 75px;
                padding: 1%;
                transition: 0.3s;
            }

            .location, .comunity, .blog, .contact {
                display: flex;
                flex-direction: column;
                flex-basis: 100%;

                h3 a {
                    border-bottom: 2px solid $backgroundColor;
                    transition: 0.3s;
                }

                a:hover, a:focus {
                    border-bottom: 2px solid $textColor;
                }
            }
        }
    }

    div {
        flex-basis: 50%;
    }

    a {
        color: black;
        font-size: 5.2rem;
        font-family: $primaryFont;
    }
}

// POPULAR THIS MONTH
.popular {
    .popularMaster {
        display: flex;
        padding: 5% 1%;
        justify-content: space-between;

        .popularPhoto {
            box-shadow: 40px 40px $borderColor;
            margin-bottom: 4%;
            transition: 0.4s;
        }

        .popularArticle {
            flex-basis: 65%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-left: 5%;

            h2 {
                font-size: 5.2rem;
                font-family: $primaryFont;
                color: $textColor;
            }

            a {
                font-size: 2rem;
                background: $accentColor;
                padding: 1% 2%;
                text-transform: uppercase;
                width: 197px;
                border: 2px solid $accentColor;
                color: white;
                transition: 0.3s;
            }

            a:hover, a:focus {
                border: 2px solid black;
                color: black;
            }
        }
    }
    .popularBleed {
        background: $backgroundColor;

        .popularGallery {
            display: flex;

            figure {
                padding: 5% 0;
                transition: 0.5s;
            }

            figure:nth-of-type(2) {
                padding-left: 3%;
                padding-right: 3%;
            }

            figure:hover {
                transform: scale(1.1);
            }
        }
    }    
}