// TEXT MEDIA QUERRY 
html {
    @media (max-width: 1400px) {
        font-size: 60%;
    }

    @media (max-width: 1000px) {
        font-size: 50%;
    }

    @media (max-width: 600px) {
        font-size: 40%;
    }
}

// HEADER MEDIA QUERRY
.headerMain {

    @media (max-width: 1400px) {
        .navigation {
            display: none;
        }

        .smallNav {
            display: block;
        }
    }

    @media (max-width: 800px) {

        .nav {
            justify-content: flex-end;
        }

        .logo {
            display: none;
        }
    }

    @media (max-width: 600px) {
        .landing {
            justify-content: center;
            margin-top: 30%;

            .headerPhoto {
                display: none;
            }
        }
    }
}

// ABOUT MEDIA QUERRY
@media (max-width: 600px) {
    .aboutArticle {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

// POPULAR MEDIA QUERRY
.popular {
    @media (max-width: 900px) {
        .popularMaster {
            
            .popularPhoto {
                margin-bottom: 0;
                box-shadow: 0 0 $borderColor;
            }
        }
    }

    @media (max-width: 700px) {
        .popularMaster {
            flex-direction: column;
            text-align: center;

            .popularArticle {
                padding-left: 0;

                a {
                    padding: 6px 8px;
                }
            }

            .popularPhoto {
                padding: 15%;
            }
        }
    }

    @media (max-width: 600px) {
        .popularBleed {

            .popularGallery {
                flex-direction: column;

                figure {
                    padding: 5%;
                }

                figure:nth-of-type(2) {
                    padding: 5%;
                }

                figure:hover {
                    transform: none;
                }    
            }
        }
    }

    @media (max-width: 500px) {
        .popularMaster {

            .popularPhoto {
                padding: 10%;
            }
        }
    }
}