header h5 {
    margin: 0;

    .mainSkip {
        text-decoration: none;
        position: fixed;
        right: -10000px;
        top: 0;
        font-size: 2rem;
        background: $textColor;
        padding: 1%;
        color: white;
    }

    .mainSkip:focus {
        right: 640px;
    }

    .blogSkip {
        text-decoration: none;
        position: fixed;
        right: -10000px;
        top: 0;
        font-size: 2rem;
        background: $textColor;
        padding: 1%;
        color: white;
    }

    .blogSkip:focus {
        right: 640px;
    }

    .contactSkip {
        text-decoration: none;
        position: fixed;
        right: -10000px;
        top: 0;
        font-size: 2rem;
        background: $textColor;
        padding: 1%;
        color: white;
    }

    .contactSkip:focus {
        right: 640px;
    }
}