.headerMain h5 {
    margin: 0;

    a {
        text-decoration: none;
        position: fixed;
        right: -45%;
        top: 0;
        font-size: 2rem;
        background: $textColor;
        padding: 1%;
        color: white;
    }

    a:focus, a:hover {
        right: 45%;
    }
}