.headerMain span a {
    text-decoration: none;
    position: fixed;
    right: 500px;
    top: 0;
    color: white;
    font-size: 2rem;
    background: $textColor;
    padding: 1%;

    :focus {
        // right: 600px;
        color: blue;
    }

    :hover {
        // right: 600px;
        color: blue;
    }
}