$backgroundColor: #FAE5FF;
$textColor: #4C0341;
$borderColor: #FE6F19;
$accentColor: #882C07;
$navText: black;
$navHover: white;

$primaryFont: 'Pompiere', cursive;
$secondaryFont: 'Lato', sans-serif;

