article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

p {
  color: black;
  font-size: 2rem;
  padding: 5% 0;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

.button {
  background: #4C0341;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.bigWrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.headerMain {
  background: url(../shoeAssets/header-image.jpg);
  background-size: cover;
  height: 95vh;
}

.headerMain .landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerMain .landing .headerPhoto {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.headerMain .landing h2 {
  font-size: 11rem;
  font-family: "Pompiere", cursive;
  font-weight: 400;
  line-height: 64px;
  color: #4C0341;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  margin-top: 8%;
  margin-left: 8%;
}

.headerMain .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1%;
}

.headerMain .smallNav {
  display: none;
  font-size: 4rem;
  color: #4C0341;
  position: fixed;
  top: 0;
  right: 10px;
}

.headerMain .smallNav input[type="checkbox"] {
  display: none;
}

.headerMain .smallNav input[type="checkbox"]:checked ~ .smallNavMenu {
  display: block;
}

.headerMain .smallNav .smallNavMenu {
  font-family: "Pompiere", cursive;
  background: black;
  position: absolute;
  right: -10px;
  top: 70px;
  display: none;
}

.headerMain .smallNav .smallNavMenu li {
  border-bottom: 2px solid white;
  padding: 20px 20px 0 20px;
}

.headerMain .smallNav .smallNavMenu a {
  color: #4C0341;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headerMain .smallNav .smallNavMenu a:hover {
  color: white;
}

.headerMain .navigation {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  width: 40%;
}

.headerMain .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.headerMain .navigation ul a {
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headerMain .navigation ul a:hover, .headerMain .navigation ul a:focus {
  color: white;
}

.headerMain .logo {
  width: 5%;
  font-family: "Pompiere", cursive;
  line-height: 36px;
  font-size: 3.58rem;
  margin: 0;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headerMain .logo a {
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headerMain .logo a:hover, .headerMain .logo a:focus {
  color: white;
}

.headerBlog {
  background: url(../shoeAssets/blog-header.jpg);
  background-size: cover;
  height: 75vh;
}

.headerBlog h1 {
  font-size: 8rem;
  font-family: "Pompiere", cursive;
  line-height: 92px;
  color: #4C0341;
  text-align: center;
  padding-top: 12%;
  text-transform: uppercase;
}

.headerBlog .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1%;
}

.headerBlog .smallNav {
  display: none;
  font-size: 4rem;
  color: #4C0341;
  position: fixed;
  top: 0;
  right: 10px;
}

.headerBlog .smallNav input[type="checkbox"] {
  display: none;
}

.headerBlog .smallNav input[type="checkbox"]:checked ~ .smallNavMenu {
  display: block;
}

.headerBlog .smallNav .smallNavMenu {
  font-family: "Pompiere", cursive;
  background: black;
  position: absolute;
  right: -10px;
  top: 70px;
  display: none;
}

.headerBlog .smallNav .smallNavMenu li {
  border-bottom: 2px solid white;
  padding: 20px 20px 0 20px;
}

.headerBlog .smallNav .smallNavMenu a {
  color: #4C0341;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headerBlog .smallNav .smallNavMenu a:hover {
  color: white;
}

.headerBlog .navigation {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  width: 40%;
}

.headerBlog .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.headerBlog .navigation ul a {
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headerBlog .navigation ul a:hover, .headerBlog .navigation ul a:focus {
  color: white;
}

.headerBlog .logo {
  width: 5%;
  font-family: "Pompiere", cursive;
  line-height: 36px;
  font-size: 3.58rem;
  margin: 0;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headerBlog .logo a {
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headerBlog .logo a:hover, .headerBlog .logo a:focus {
  color: white;
}

.headerContact {
  background: url(../shoeAssets/contact-image.jpg);
  background-size: cover;
  height: 75vh;
}

.headerContact h1 {
  font-size: 8rem;
  font-family: "Pompiere", cursive;
  line-height: 92px;
  color: #4C0341;
  text-align: center;
  padding-top: 12%;
  text-transform: uppercase;
}

.headerContact .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1%;
}

.headerContact .smallNav {
  display: none;
  font-size: 4rem;
  color: #4C0341;
  position: fixed;
  top: 0;
  right: 10px;
}

.headerContact .smallNav input[type="checkbox"] {
  display: none;
}

.headerContact .smallNav input[type="checkbox"]:checked ~ .smallNavMenu {
  display: block;
}

.headerContact .smallNav .smallNavMenu {
  font-family: "Pompiere", cursive;
  background: black;
  position: absolute;
  right: -10px;
  top: 70px;
  display: none;
}

.headerContact .smallNav .smallNavMenu li {
  border-bottom: 2px solid white;
  padding: 20px 20px 0 20px;
}

.headerContact .smallNav .smallNavMenu a {
  color: #4C0341;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headerContact .smallNav .smallNavMenu a:hover {
  color: white;
}

.headerContact .navigation {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  width: 40%;
}

.headerContact .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.headerContact .navigation ul a {
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headerContact .navigation ul a:hover, .headerContact .navigation ul a:focus {
  color: white;
}

.headerContact .logo {
  width: 5%;
  font-family: "Pompiere", cursive;
  line-height: 36px;
  font-size: 3.58rem;
  margin: 0;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headerContact .logo a {
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headerContact .logo a:hover, .headerContact .logo a:focus {
  color: white;
}

footer {
  background: #882C07;
  text-align: center;
}

footer h4 {
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 2rem;
  margin: 0;
  padding: 1%;
}

.sea {
  text-align: center;
  padding-top: 15%;
  padding-bottom: 12%;
}

.sea h2 {
  font-family: "Pompiere", cursive;
  font-size: 5.2rem;
  text-transform: uppercase;
  color: #4C0341;
}

.sea p {
  width: 90%;
  margin: 0 auto;
  padding: 5%;
}

.sea a {
  font-size: 2rem;
  background: #4C0341;
  padding: 1% 2%;
  text-transform: uppercase;
  border: 2px solid #4C0341;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sea a:hover, .sea a:focus {
  color: black;
  border: 2px solid black;
}

.bgColor {
  background: white;
}

.new, .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new .newPhoto, .option .newPhoto {
  -webkit-box-shadow: 20px 20px #FE6F19;
          box-shadow: 20px 20px #FE6F19;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.new .optionPhoto, .option .optionPhoto {
  -webkit-box-shadow: -20px 20px #FE6F19;
          box-shadow: -20px 20px #FE6F19;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.new .optionArticle, .option .optionArticle {
  text-align: right;
  padding-right: 8.5%;
}

.new .newArticle, .option .newArticle {
  padding-left: 8.5%;
}

.new .optionArticle, .new .newArticle, .option .optionArticle, .option .newArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.new .optionArticle h2, .new .newArticle h2, .option .optionArticle h2, .option .newArticle h2 {
  font-size: 4.2rem;
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
}

.new .optionArticle a, .new .newArticle a, .option .optionArticle a, .option .newArticle a {
  font-size: 2rem;
  background: #882C07;
  padding: 1% 2%;
  text-transform: uppercase;
  border: 2px solid #882C07;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.new .optionArticle a:hover, .new .optionArticle a:focus, .new .newArticle a:hover, .new .newArticle a:focus, .option .optionArticle a:hover, .option .optionArticle a:focus, .option .newArticle a:hover, .option .newArticle a:focus {
  color: black;
  border: 2px solid black;
}

.about {
  background: #FAE5FF;
  padding-top: 10%;
}

.about .aboutArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .aboutArticle .locationIcon, .about .aboutArticle .comunityIcon, .about .aboutArticle .blogIcon, .about .aboutArticle .contactIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .aboutArticle .locationIcon i, .about .aboutArticle .comunityIcon i, .about .aboutArticle .blogIcon i, .about .aboutArticle .contactIcon i {
  font-size: 5.2rem;
  color: #4C0341;
  width: 75px;
  padding: 1%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about .aboutArticle .locationIcon .location, .about .aboutArticle .locationIcon .comunity, .about .aboutArticle .locationIcon .blog, .about .aboutArticle .locationIcon .contact, .about .aboutArticle .comunityIcon .location, .about .aboutArticle .comunityIcon .comunity, .about .aboutArticle .comunityIcon .blog, .about .aboutArticle .comunityIcon .contact, .about .aboutArticle .blogIcon .location, .about .aboutArticle .blogIcon .comunity, .about .aboutArticle .blogIcon .blog, .about .aboutArticle .blogIcon .contact, .about .aboutArticle .contactIcon .location, .about .aboutArticle .contactIcon .comunity, .about .aboutArticle .contactIcon .blog, .about .aboutArticle .contactIcon .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.about .aboutArticle .locationIcon .location h3 a, .about .aboutArticle .locationIcon .comunity h3 a, .about .aboutArticle .locationIcon .blog h3 a, .about .aboutArticle .locationIcon .contact h3 a, .about .aboutArticle .comunityIcon .location h3 a, .about .aboutArticle .comunityIcon .comunity h3 a, .about .aboutArticle .comunityIcon .blog h3 a, .about .aboutArticle .comunityIcon .contact h3 a, .about .aboutArticle .blogIcon .location h3 a, .about .aboutArticle .blogIcon .comunity h3 a, .about .aboutArticle .blogIcon .blog h3 a, .about .aboutArticle .blogIcon .contact h3 a, .about .aboutArticle .contactIcon .location h3 a, .about .aboutArticle .contactIcon .comunity h3 a, .about .aboutArticle .contactIcon .blog h3 a, .about .aboutArticle .contactIcon .contact h3 a {
  border-bottom: 2px solid #FAE5FF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about .aboutArticle .locationIcon .location a:hover, .about .aboutArticle .locationIcon .location a:focus, .about .aboutArticle .locationIcon .comunity a:hover, .about .aboutArticle .locationIcon .comunity a:focus, .about .aboutArticle .locationIcon .blog a:hover, .about .aboutArticle .locationIcon .blog a:focus, .about .aboutArticle .locationIcon .contact a:hover, .about .aboutArticle .locationIcon .contact a:focus, .about .aboutArticle .comunityIcon .location a:hover, .about .aboutArticle .comunityIcon .location a:focus, .about .aboutArticle .comunityIcon .comunity a:hover, .about .aboutArticle .comunityIcon .comunity a:focus, .about .aboutArticle .comunityIcon .blog a:hover, .about .aboutArticle .comunityIcon .blog a:focus, .about .aboutArticle .comunityIcon .contact a:hover, .about .aboutArticle .comunityIcon .contact a:focus, .about .aboutArticle .blogIcon .location a:hover, .about .aboutArticle .blogIcon .location a:focus, .about .aboutArticle .blogIcon .comunity a:hover, .about .aboutArticle .blogIcon .comunity a:focus, .about .aboutArticle .blogIcon .blog a:hover, .about .aboutArticle .blogIcon .blog a:focus, .about .aboutArticle .blogIcon .contact a:hover, .about .aboutArticle .blogIcon .contact a:focus, .about .aboutArticle .contactIcon .location a:hover, .about .aboutArticle .contactIcon .location a:focus, .about .aboutArticle .contactIcon .comunity a:hover, .about .aboutArticle .contactIcon .comunity a:focus, .about .aboutArticle .contactIcon .blog a:hover, .about .aboutArticle .contactIcon .blog a:focus, .about .aboutArticle .contactIcon .contact a:hover, .about .aboutArticle .contactIcon .contact a:focus {
  border-bottom: 2px solid #4C0341;
}

.about div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.about a {
  color: black;
  font-size: 5.2rem;
  font-family: "Pompiere", cursive;
}

.popular .popularMaster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 1%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular .popularMaster .popularPhoto {
  -webkit-box-shadow: 40px 40px #FE6F19;
          box-shadow: 40px 40px #FE6F19;
  margin-bottom: 4%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.popular .popularMaster .popularArticle {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 5%;
}

.popular .popularMaster .popularArticle h2 {
  font-size: 5.2rem;
  font-family: "Pompiere", cursive;
  color: #4C0341;
}

.popular .popularMaster .popularArticle a {
  font-size: 2rem;
  background: #882C07;
  padding: 1% 2%;
  text-transform: uppercase;
  width: 197px;
  border: 2px solid #882C07;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.popular .popularMaster .popularArticle a:hover, .popular .popularMaster .popularArticle a:focus {
  border: 2px solid black;
  color: black;
}

.popular .popularBleed {
  background: #FAE5FF;
}

.popular .popularBleed .popularGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popular .popularBleed .popularGallery figure {
  padding: 5% 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.popular .popularBleed .popularGallery figure:nth-of-type(2) {
  padding-left: 3%;
  padding-right: 3%;
}

.popular .popularBleed .popularGallery figure:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog aside {
  margin: 5%;
}

.blog aside .asideArticle {
  background: white;
  padding: 0;
}

.blog aside .asideArticle h3 {
  font-size: 2rem;
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
  color: #4C0341;
  padding-top: 6%;
}

.blog aside .asideArticle li {
  font-size: 2rem;
  padding: 2%;
}

.blog h4 {
  color: black;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.blog .blogPhoto {
  position: relative;
  top: -170px;
  -webkit-box-shadow: -30px 30px #FE6F19;
          box-shadow: -30px 30px #FE6F19;
}

.blog .blogArticle {
  background: white;
  padding: 5%;
  margin-top: -40%;
}

.blog .blogArticle h2 {
  font-size: 4.2rem;
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
  color: #4C0341;
  padding-top: 14%;
}

.blog .comment h2 {
  font-size: 4.2rem;
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
  color: #4C0341;
  padding-top: 5%;
}

.blog .comment blockquote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog .comment blockquote .personPhoto {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding-right: 1%;
}

.blog .comment blockquote p {
  padding: 2% 0;
}

.blog form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
}

.blog form input {
  background: #FAE5FF;
  border: #FAE5FF;
  border-bottom: 2px solid #FE6F19;
  width: 45%;
  margin: 2%;
  margin-left: 2%;
  font-size: 2rem;
}

.blog form textarea {
  background: #FAE5FF;
  border: 2px solid #FE6F19;
  margin: 2%;
  font-size: 2rem;
}

.blog form button {
  margin: 2%;
  background: #4C0341;
  color: white;
  border: 3px solid #4C0341;
  font-size: 2rem;
  padding: 2%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog form button:hover, .blog form button:focus {
  color: black;
  border: 3px solid black;
}

main {
  background: #FAE5FF;
}

main .contactWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .contactWrapper .contactInfo {
  padding: 4%;
}

main .contactWrapper .contactInfo .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .contactWrapper .contactInfo .social li {
  padding-right: 6%;
}

main .contactWrapper .contactInfo .social li a {
  font-size: 3rem;
  color: #4C0341;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .contactWrapper .contactInfo .social li a:hover, main .contactWrapper .contactInfo .social li a:focus {
  color: black;
}

main .contactWrapper .contactInfo h2 {
  color: #4C0341;
  font-size: 4.2rem;
  font-family: "Pompiere", cursive;
  padding: 8% 0;
}

main .contactWrapper .contactInfo .info {
  padding: 2% 0;
  font-size: 2rem;
}

main .contactWrapper .form {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  position: relative;
  right: -4.5%;
  top: -120px;
  -webkit-box-shadow: -50px 50px #FE6F19;
          box-shadow: -50px 50px #FE6F19;
}

main .contactWrapper .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
  background: white;
}

main .contactWrapper .form form input {
  background: white;
  border: #FAE5FF;
  border-bottom: 2px solid #FE6F19;
  width: 45%;
  margin: 2%;
  margin-left: 2%;
  font-size: 2rem;
}

main .contactWrapper .form form textarea {
  background: white;
  border: 2px solid #FE6F19;
  margin: 2%;
  font-size: 2rem;
}

main .contactWrapper .form form button {
  margin: 2%;
  background: #882C07;
  color: white;
  border: 3px solid #882C07;
  font-size: 2rem;
  padding: 2%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .contactWrapper .form form button:hover, main .contactWrapper .form form button:focus {
  border: 3px solid black;
  color: black;
}

header h5 {
  margin: 0;
}

header h5 .mainSkip {
  text-decoration: none;
  position: fixed;
  right: -10000px;
  top: 0;
  font-size: 2rem;
  background: #4C0341;
  padding: 1%;
  color: white;
}

header h5 .mainSkip:focus {
  right: 640px;
}

header h5 .blogSkip {
  text-decoration: none;
  position: fixed;
  right: -10000px;
  top: 0;
  font-size: 2rem;
  background: #4C0341;
  padding: 1%;
  color: white;
}

header h5 .blogSkip:focus {
  right: 640px;
}

header h5 .contactSkip {
  text-decoration: none;
  position: fixed;
  right: -10000px;
  top: 0;
  font-size: 2rem;
  background: #4C0341;
  padding: 1%;
  color: white;
}

header h5 .contactSkip:focus {
  right: 640px;
}

@media (max-width: 800px) {
  .new {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .new .newPhoto {
    -webkit-box-shadow: 0 0 #FE6F19;
            box-shadow: 0 0 #FE6F19;
    padding: 10%;
  }
  .new .newArticle {
    text-align: center;
    padding: 5%;
  }
  .option {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .option .optionPhoto {
    -webkit-box-shadow: 0 0 #FE6F19;
            box-shadow: 0 0 #FE6F19;
    padding: 10%;
  }
  .option .optionArticle {
    text-align: center;
    padding: 5%;
  }
}

@media (max-width: 600px) {
  .aboutArticle {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 900px) {
  .popular .popularMaster .popularPhoto {
    margin-bottom: 0;
    -webkit-box-shadow: 0 0 #FE6F19;
            box-shadow: 0 0 #FE6F19;
  }
}

@media (max-width: 700px) {
  .popular .popularMaster {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .popular .popularMaster .popularArticle {
    padding-left: 0;
  }
  .popular .popularMaster .popularArticle a {
    padding: 6px 8px;
  }
  .popular .popularMaster .popularPhoto {
    padding: 15%;
  }
}

@media (max-width: 600px) {
  .popular .popularBleed .popularGallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popular .popularBleed .popularGallery figure {
    padding: 5%;
  }
  .popular .popularBleed .popularGallery figure:nth-of-type(2) {
    padding: 5%;
  }
  .popular .popularBleed .popularGallery figure:hover {
    -webkit-transform: none;
            transform: none;
  }
}

@media (max-width: 500px) {
  .popular .popularMaster .popularPhoto {
    padding: 10%;
  }
}

@media (max-width: 800px) {
  .blog aside {
    display: none;
  }
}

@media (max-width: 500px) {
  .blog .blogPhoto {
    -webkit-box-shadow: 0 0 #FE6F19;
            box-shadow: 0 0 #FE6F19;
  }
  .blog .blogArticle {
    padding: 8%;
    margin-top: -50%;
  }
  .blog blockquote .personPhoto {
    display: none;
  }
}

@media (max-width: 400px) {
  .blog .blogArticle {
    padding: 12%;
    margin-top: -60%;
  }
}

@media (max-width: 800px) {
  main .contactWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 800px) and (max-width: 600px) {
  main .contactWrapper .form {
    -webkit-box-shadow: 0 0 #FE6F19;
            box-shadow: 0 0 #FE6F19;
    position: static;
  }
}

@media (max-width: 600px) {
  main .contactWrapper .contactInfo h2 {
    padding: 4% 0;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 600px) {
  .headerContact, .headerBlog {
    height: 50vh;
  }
}

@media (max-width: 600px) {
  .headerMain {
    height: 70vh;
  }
  .headerMain .landing h2 {
    margin-top: 4%;
  }
}

@media (max-width: 1400px) {
  .headerMain .navigation, .headerBlog .navigation, .headerContact .navigation {
    display: none;
  }
  .headerMain .smallNav, .headerBlog .smallNav, .headerContact .smallNav {
    display: block;
  }
}

@media (max-width: 800px) {
  .headerMain .nav, .headerBlog .nav, .headerContact .nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .headerMain .logo, .headerBlog .logo, .headerContact .logo {
    display: none;
  }
}

@media (max-width: 600px) {
  .headerMain .landing, .headerBlog .landing, .headerContact .landing {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .headerMain .landing .headerPhoto, .headerBlog .landing .headerPhoto, .headerContact .landing .headerPhoto {
    display: none;
  }
}
