article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

p {
  color: black;
  font-size: 2rem;
  padding: 5% 0;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

.button {
  background: #4C0341;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.headerMain {
  background: url(../shoeAssets/header-image.jpg);
  background-size: cover;
  height: 95vh;
}

.headerMain .landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.headerMain .landing div {
  width: 58%;
  position: relative;
  right: -9.7%;
}

.headerMain .landing h2 {
  font-size: 11rem;
  font-family: "Pompiere", cursive;
  font-weight: 400;
  line-height: 64px;
  color: #4C0341;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  margin: 8% 0;
}

.headerMain .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1%;
}

.headerMain .navigation {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  width: 40%;
}

.headerMain .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.headerMain .navigation ul a {
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headerMain .navigation ul a:hover, .headerMain .navigation ul a:focus {
  color: white;
}

.headerMain .logo {
  width: 5%;
  font-family: "Pompiere", cursive;
  line-height: 36px;
  font-size: 3.58rem;
  margin: 0;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headerMain .logo a {
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headerMain .logo a:hover, .headerMain .logo a:focus {
  color: white;
}

.headerBlog {
  background: url(../shoeAssets/blog-header.jpg);
  background-size: cover;
  height: 75vh;
}

.headerBlog h1 {
  font-size: 8rem;
  font-family: "Pompiere", cursive;
  line-height: 92px;
  color: #4C0341;
  text-align: center;
  padding-top: 12%;
  text-transform: uppercase;
}

.headerBlog .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1%;
}

.headerBlog .navigation {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  width: 40%;
}

.headerBlog .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.headerBlog .navigation ul a {
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headerBlog .navigation ul a:hover, .headerBlog .navigation ul a:focus {
  color: white;
}

.headerBlog .logo {
  width: 5%;
  font-family: "Pompiere", cursive;
  line-height: 36px;
  font-size: 3.58rem;
  margin: 0;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headerBlog .logo a {
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headerBlog .logo a:hover, .headerBlog .logo a:focus {
  color: white;
}

.headerContact {
  background: url(../shoeAssets/contact-image.jpg);
  background-size: cover;
  height: 75vh;
}

.headerContact h1 {
  font-size: 8rem;
  font-family: "Pompiere", cursive;
  line-height: 92px;
  color: #4C0341;
  text-align: center;
  padding-top: 12%;
  text-transform: uppercase;
}

.headerContact .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1%;
}

.headerContact .navigation {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  width: 40%;
}

.headerContact .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.headerContact .navigation ul a {
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headerContact .navigation ul a:hover, .headerContact .navigation ul a:focus {
  color: white;
}

.headerContact .logo {
  width: 5%;
  font-family: "Pompiere", cursive;
  line-height: 36px;
  font-size: 3.58rem;
  margin: 0;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headerContact .logo a {
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headerContact .logo a:hover, .headerContact .logo a:focus {
  color: white;
}

footer {
  background: #882C07;
  text-align: center;
}

footer h4 {
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 2rem;
  margin: 0;
  padding: 1%;
}

.sea {
  text-align: center;
  padding-top: 15%;
  padding-bottom: 12%;
}

.sea h2 {
  font-family: "Pompiere", cursive;
  font-size: 5.2rem;
  text-transform: uppercase;
  color: #4C0341;
}

.sea p {
  width: 90%;
  margin: 0 auto;
  padding: 5%;
}

.sea span a {
  font-size: 2rem;
  background: #4C0341;
  padding: 12px 16px;
  text-transform: uppercase;
  border: 2px solid #4C0341;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sea span a:hover, .sea span a:focus {
  color: black;
  border: 2px solid black;
}

.bgColor {
  background: #FAE5FF;
}

.new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new .newArticle {
  width: 50%;
  padding: 4%;
}

.new .newPhoto {
  position: relative;
  left: -9.5%;
  top: -61px;
  -webkit-box-shadow: 60px 55px #FE6F19;
          box-shadow: 60px 55px #FE6F19;
}

.new h2 {
  font-size: 4.2rem;
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
}

.new span a {
  font-size: 2rem;
  background: #882C07;
  padding: 12px 16px;
  text-transform: uppercase;
  border: 2px solid #882C07;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.new span a:hover, .new span a:focus {
  color: black;
  border: 2px solid black;
}

.option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.option .optionArticle {
  width: 50%;
  padding: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 1;
}

.option .optionPhoto {
  position: relative;
  right: -9.5%;
  -webkit-box-shadow: -60px 55px #FE6F19;
          box-shadow: -60px 55px #FE6F19;
}

.option h2 {
  font-size: 4.2rem;
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
  text-align: right;
}

.option p {
  text-align: right;
}

.option span a {
  font-size: 2rem;
  background: #882C07;
  padding: 12px 16px;
  text-transform: uppercase;
  border: 2px solid #882C07;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.option span a:hover, .option span a:focus {
  border: 2px solid black;
  color: black;
}

.about {
  background: #FAE5FF;
  padding-top: 10%;
}

.about .aboutArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 6%;
}

.about .aboutArticle p {
  padding: 2% 13%;
}

.about .aboutArticle .location, .about .aboutArticle .comunity, .about .aboutArticle .blog, .about .aboutArticle .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5%;
}

.about .aboutArticle .location i, .about .aboutArticle .comunity i, .about .aboutArticle .blog i, .about .aboutArticle .contact i {
  font-size: 5.2rem;
  color: #4C0341;
  width: 75px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 2px solid #FAE5FF;
}

.about .aboutArticle .location h3 a, .about .aboutArticle .comunity h3 a, .about .aboutArticle .blog h3 a, .about .aboutArticle .contact h3 a {
  border-bottom: 2px solid #FAE5FF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about .aboutArticle .location a:hover, .about .aboutArticle .location a:focus, .about .aboutArticle .comunity a:hover, .about .aboutArticle .comunity a:focus, .about .aboutArticle .blog a:hover, .about .aboutArticle .blog a:focus, .about .aboutArticle .contact a:hover, .about .aboutArticle .contact a:focus {
  border-bottom: 2px solid #4C0341;
}

.about div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.about a {
  color: black;
  font-size: 5.2rem;
  font-family: "Pompiere", cursive;
}

.popular .popularMaster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 1%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular .popularMaster .popularPhoto {
  position: relative;
  top: -40px;
  left: -14px;
  -webkit-box-shadow: 40px 40px #FE6F19;
          box-shadow: 40px 40px #FE6F19;
}

.popular .popularMaster .popularArticle {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 5%;
}

.popular .popularMaster .popularArticle h2 {
  font-size: 5.2rem;
  font-family: "Pompiere", cursive;
  color: #4C0341;
}

.popular .popularMaster .popularArticle span a {
  font-size: 2rem;
  background: #882C07;
  padding: 12px 16px;
  text-transform: uppercase;
  width: 197px;
  border: 2px solid #882C07;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.popular .popularMaster .popularArticle span a:hover, .popular .popularMaster .popularArticle span a:focus {
  border: 2px solid black;
  color: black;
}

.popular .popularBleed {
  background: #FAE5FF;
}

.popular .popularBleed .popularGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popular .popularBleed .popularGallery figure {
  padding: 5% 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.popular .popularBleed .popularGallery figure:nth-of-type(2) {
  padding-left: 3%;
  padding-right: 3%;
}

.popular .popularBleed .popularGallery figure:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blog {
  background: #FAE5FF;
}

.blog .blogFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.blog .blogFlex .asideWrapper {
  background: white;
  width: 90%;
  margin-right: 10%;
  margin-top: 20%;
  padding: 5%;
  position: relative;
}

.blog .blogFlex .asideWrapper .asideArticle {
  padding-top: 380px;
  margin-right: 50px;
}

.blog .blogFlex .asideWrapper .asideArticle h3 {
  font-family: "Pompiere", cursive;
  font-size: 3rem;
  color: #4C0341;
  padding-top: 5%;
}

.blog .blogFlex .asideWrapper .asideArticle p {
  line-height: 35px;
}

.blog .blogFlex .asideWrapper .asideArticle ul {
  margin-left: 5.5%;
}

.blog .blogFlex .asideWrapper .asideArticle ul li {
  list-style: unset;
  line-height: 35px;
  font-size: 2rem;
}

.blog .blogFlex .asideWrapper .asidePhoto {
  position: absolute;
  width: 500px;
  top: -3%;
  right: 5%;
}

.blog .blogFlex .blogMain {
  -ms-flex-preferred-size: 150%;
      flex-basis: 150%;
}

.blog .blogFlex .blogMain .commentSection h2 {
  font-size: 4.2rem;
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
  color: #4C0341;
  padding-top: 8%;
}

.blog .blogFlex .blogMain .commentSection blockquote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 5%;
}

.blog .blogFlex .blogMain .commentSection blockquote h4 {
  color: black;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  padding-left: 5%;
}

.blog .blogFlex .blogMain .commentSection blockquote p {
  padding: 4%;
  padding-left: 5%;
}

.blog .blogFlex .blogMain .commentSection blockquote .personPhoto {
  width: 40%;
}

.blog .blogFlex .blogMain .comment {
  background: white;
}

.blog .blogFlex .blogMain .comment .commentArticle {
  width: 90%;
  padding-left: 5%;
}

.blog .blogFlex .blogMain .comment .commentArticle h2 {
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
  color: #4C0341;
  font-size: 5.2rem;
}

.blog .blogFlex .blogMain .comment .commentArticle p:first-of-type {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.blog .blogFlex .blogMain .comment .commentPhoto {
  position: relative;
  width: 105%;
  right: -10.5%;
  top: -160px;
  -webkit-box-shadow: -80px 80px #FE6F19;
          box-shadow: -80px 80px #FE6F19;
}

.blog .blogFlex .blogMain form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
}

.blog .blogFlex .blogMain form input {
  background: #FAE5FF;
  border: #FAE5FF;
  border-bottom: 2px solid #FE6F19;
  width: 45%;
  margin: 2%;
  margin-left: 2%;
  font-size: 2rem;
}

.blog .blogFlex .blogMain form textarea {
  background: #FAE5FF;
  border: 2px solid #FE6F19;
  margin: 2%;
  font-size: 2rem;
}

.blog .blogFlex .blogMain form button {
  margin: 2%;
  background: #4C0341;
  color: white;
  border: 3px solid #4C0341;
  font-size: 2rem;
  padding: 2%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog .blogFlex .blogMain form button:hover, .blog .blogFlex .blogMain form button:focus {
  color: black;
  border: 3px solid black;
}

main {
  background: #FAE5FF;
}

main .contactWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .contactWrapper .contactInfo {
  padding: 4%;
}

main .contactWrapper .contactInfo .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .contactWrapper .contactInfo .social li {
  padding-right: 6%;
}

main .contactWrapper .contactInfo .social li a {
  font-size: 3rem;
  color: #4C0341;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .contactWrapper .contactInfo .social li a:hover, main .contactWrapper .contactInfo .social li a:focus {
  color: black;
}

main .contactWrapper .contactInfo h2 {
  color: #4C0341;
  font-size: 4.2rem;
  font-family: "Pompiere", cursive;
  padding: 8% 0;
}

main .contactWrapper .contactInfo .info {
  padding: 2% 0;
  font-size: 2rem;
}

main .contactWrapper .form {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  position: relative;
  right: -4.5%;
  top: -120px;
  -webkit-box-shadow: -50px 50px #FE6F19;
          box-shadow: -50px 50px #FE6F19;
}

main .contactWrapper .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
  background: white;
}

main .contactWrapper .form form input {
  background: white;
  border: #FAE5FF;
  border-bottom: 2px solid #FE6F19;
  width: 45%;
  margin: 2%;
  margin-left: 2%;
  font-size: 2rem;
}

main .contactWrapper .form form textarea {
  background: white;
  border: 2px solid #FE6F19;
  margin: 2%;
  font-size: 2rem;
}

main .contactWrapper .form form button {
  margin: 2%;
  background: #882C07;
  color: white;
  border: 3px solid #882C07;
  font-size: 2rem;
  padding: 2%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .contactWrapper .form form button:hover, main .contactWrapper .form form button:focus {
  border: 3px solid black;
  color: black;
}

header h5 {
  margin: 0;
}

header h5 .mainSkip {
  text-decoration: none;
  position: fixed;
  right: -45%;
  top: 0;
  font-size: 2rem;
  background: #4C0341;
  padding: 1%;
  color: white;
}

header h5 .mainSkip:focus {
  right: 45%;
}

header h5 .blogSkip {
  text-decoration: none;
  position: fixed;
  right: -47%;
  top: 0;
  font-size: 2rem;
  background: #4C0341;
  padding: 1%;
  color: white;
}

header h5 .blogSkip:focus {
  right: 47%;
}

header h5 .contactSkip {
  text-decoration: none;
  position: fixed;
  right: -45%;
  top: 0;
  font-size: 2rem;
  background: #4C0341;
  padding: 1%;
  color: white;
}

header h5 .contactSkip:focus {
  right: 45%;
}
